body{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}

header{
    background-color: rgb(24, 75, 77);
    text-align: center;
}

#title{
    padding: 20px 0px 20px 0px;
    color: white;
    margin: 0;
}

nav{
    background-color: rgb(245, 210, 158);
    padding: 20px 0px 20px 0px;
}

ul{
    padding: 0;
}

#list-box{
    padding: 0;
}

#list-box li{
    list-style: none;
    display: inline-block;
}

#news{
    padding: 0px 288px;
    width: 100px;
}

#board{
    padding-right: 288px;
    width: 80px;
}

#form{
    padding-right: 288px;
    width: 130px;
}

.nav-a{
    background-color: rgb(245, 210, 158);
    color: black;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;
}

.nav-a:hover{
    background-color: aliceblue;
}

aside{
    width: 285px;
    height: 820px;
    float: left;
    background-color: cadetblue;
    padding: 20px;
    margin: 50px 50px;
    border: solid 1px black;
    border-radius: 10px;
    color: aliceblue;
    text-align: justify;
}

h2{
    color: black;
    text-align: left;
}

h3{
    color: black;
    text-align: left;
}

#img-aside{
    width: 250px;
    padding-top: 10px;
    border-radius: 30px;
}

#curiosity-title{
    padding-top: 50px;
}

main{
    width: 880px;
    float: left;
    background-color: cadetblue;
    padding: 20px;
    margin: 50px 50px;
    border: solid 1px black;
    border-radius: 10px;
    color: aliceblue;
    text-align: justify;
}

table{
    color: black;
    background-color: blanchedalmond;
    border-collapse: collapse;
}

tr, th, td{
    border: solid 2px black;
}

th{
    background-color: burlywood;
}

.first-cell{
    background-color: chocolate;
}

ul{
    color: black;
}

#section-list{
    width: 600px;
    margin: 0 auto;
    list-style: circle;
}

footer{
    color: black;
    clear: both;
    text-align: center;
}

/*-----------------------------------NEWS----------------------------------------*/

#main-news{
    padding: 0px 240px;
    width: 195px;
}

#news-text-container{
    float: none;
    margin: 50px auto;
}

.normal-a{
    color: rgb(2, 21, 163);
    text-decoration: none;
}

.normal-a:hover{
    text-decoration: underline;
}

#source{
    color: black;
}

#activities-list{
    list-style: circle;
}

.activities-pad{
    padding: 10px 0px;
}

/*----------------------------------BOARD----------------------------------------*/

#news-board{
    padding-right: 285px;
    width: 100px;
}

/*----------------------------------FORM-----------------------------------------*/

#news-form{
    padding-right: 288px;
    width: 100px;
}

form{
    background-color: cadetblue;
    width: 650px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px 100px 20px 100px;
    border: solid 1px black;
    border-radius: 10px;
}

input[type="checkbox"]{
    vertical-align: middle;
}

input[type="radio"]{
    vertical-align: top;
}

.boxForm{
    margin: 0px 0px 20px 0px;
}

#name{
    float: left;
}

#surname{
    float: right;
}

#pw{
    float: left;
}

#country{
    float: right;
}

#clothes{
    clear: both;
}

#termsConditions{
    padding-top: 20px;
}

#send{
    text-align: center;
    margin-top: 40px;
}